<%- include("header") -%>

<div class="row">
    <div class="col-md-3 first_col">
        <div class="profile-col1">
            <img src="data:image/png;base64,<%=photo%>"> 
        <p><strong> Customer Id :</strong> <%=cust_id%></p>
        </div>
        
        <div>
            <table class="cust_info">
                
                <tr class="profile-section">
                    <td><h5>Name : </h5></td>
                    <td><h5 class="profile-text"><%=cust_name%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Address : </h5></td>
                    <td><h5 class="profile-text"><%=address%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>City : </h5></td>
                    <td><h5 class="profile-text"><%=city%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>State : </h5></td>
                    <td><h5 class="profile-text"><%=state%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Zip : </h5></td>
                    <td><h5 class="profile-text"><%=zip%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Gender : </h5></td>
                    <td><h5 class="profile-text"><%=gender%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>DOB : </h5></td>
                    <td><h5 class="profile-text"><%=dob%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Mobile Number : </h5></td>
                    <td><h5 class="profile-text">8888XXXXXX</h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Email Id : </h5></td>
                    <td><h5 class="profile-text"><%=email%></h5></td>
                </tr>
                
            </table>
    
        </div>
        
    </div>



    <div class="col-md-8 sec_col">
        
        
        <div>
            <table class="acc_info">
                <tr class="profile-section">
                    <td><h5>Account No : </h5></td>
                    <td><h5 class="profile-text"><%=acc_no%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Name : </h5></td>
                    <td><h5 class="profile-text"><%=cust_name%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Address : </h5></td>
                    <td><h5 class="profile-text"><%=address%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>City : </h5></td>
                    <td><h5 class="profile-text"><%=city%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>State : </h5></td>
                    <td><h5 class="profile-text"><%=state%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Zip : </h5></td>
                    <td><h5 class="profile-text"><%=zip%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Gender : </h5></td>
                    <td><h5 class="profile-text"><%=gender%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>DOB : </h5></td>
                    <td><h5 class="profile-text"><%=dob%></h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Mobile Number : </h5></td>
                    <td><h5 class="profile-text">8888XXXXXX</h5></td>
                </tr>
                <tr class="profile-section">
                    <td><h5>Email Id : </h5></td>
                    <td><h5 class="profile-text"><%=email%></h5></td>
                </tr>
                
            </table>
    
        </div>
        
    </div>
    
</div>



<%- include("footer") -%>
