<%- include("header") -%>

<div class="row">
  <!-- Sidebar Starts -->
  <div class="col-2 sidebar shadow">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link sidebar-tile add" id="add" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-home"
        aria-selected="true">Add Account</a>
      <a class="nav-link sidebar-tile view" id="view" data-toggle="pill" href="#" role="tab"
        aria-controls="v-pills-profile" aria-selected="false">View Account Details</a>
      <a class="nav-link sidebar-tile update" id="update" data-toggle="pill" href="#" role="tab"
        aria-controls="v-pills-messages" aria-selected="false">Update Account Details</a>
      <a class="nav-link sidebar-tile remove" id="remove" data-toggle="pill" href="#" role="tab"
        aria-controls="v-pills-settings" aria-selected="false">Close Account</a>
    </div>
  </div>
  <!-- Sidebar Ends -->

  <!-- Create Customer Form Starts -->

  <div class="col-10 ">
    <!-- Add Customer Start -->
    <div class="add-custdiv">
      <h2 class="create-heading">Create an Account</h2>
      <br />
      <form class="create-cust needs-validation" method="POST" action="/add_customer" enctype="multipart/form-data"
        novalidate>
        <%if(error[0] === 'success_added' && error[0]!==undefined){%>
        <div class="<%=error[0]%>" hidden><%=error[1]%></div>
        <%}%>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" id="inputFirstName" name="first_name" pattern="[a-zA-Z]*" required>
            <div class="invalid-feedback">Name must contain alphabets only</div>
          </div>
          <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" id="inputLastName" name="last_name" pattern="[a-zA-Z]*" required>
            <div class="invalid-feedback">Name must contain alphabets only</div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" name="address" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" name="city" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <input class="form-control" type="text" name="state" id="state" pattern="[a-zA-Z]*" required>
            <div class="invalid-feedback">State must contain alphabets only</div>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" name="zip" pattern="[0-9]{6}" required>
            <div class="invalid-feedback">Zip must be number of length 6</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Contact No (Primary)</label>
            <input type="text" class="form-control" id="primaryMob" name="pcon" pattern="[0-9]{10}" required>
            <div class="invalid-feedback">Contact no. must be number of length 10</div>
          </div>
          <div class="form-group col-md-6">
            <label>Contact No (Secondary)</label>
            <input type="text" class="form-control" id="secondaryMob" name="scon" pattern="[0-9]{10}">
            <div class="invalid-feedback">Contact no. must be number of length 10</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email ID</label>
          <input type="email" class="form-control" id="inputEmail" name="email" required placeholder="example@abc.com">
          <div class="invalid-feedback">Enter a valid email</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 required">
            <legend class="col-form-label pt-0">Gender</legend>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="male" value="M" required>
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="female" value="F" required>
              <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="other" value="O" required>
              <label class="form-check-label" for="other">Other</label>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label id="demo">DOB</label>
            <input type="date" class="form-control" id="DOB" name="dob" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Aadhar Number</label>
            <input type="text" class="form-control" id="inputFirstName" name="aadhaar_no" pattern="[0-9]{16}" required>
            <div class="invalid-feedback">Aadhaar must contain numbers only (16 digits)</div>
          </div>
          <div class="form-group col-md-6">
            <label>Pan Number</label>
            <input type="text" class="form-control" id="inputLastName" name="pan" pattern="[0-9A-Z]{10}">
            <div class="invalid-feedback">Pan number must of length 10 and alphabets must be capital</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Photo</label>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="validatedCustomFile1" name="myImage" required>
            <label class="custom-file-label" for="validatedCustomFile1" id="place-hold1">Choose File...</label>
            <small id="passwordHelpBlock" class="form-text text-muted">
              Max Image Size : 2 MB (JPG/PNG/JPEG)
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="">Aadhaar Scanned Copy</label>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="validatedCustomFile2" name="aadhaar" required>
            <label class="custom-file-label" for="validatedCustomFile2" id="place-hold2">Choose File...</label>
            <small id="passwordHelpBlock" class="form-text text-muted">
              Max Image Size : 2 MB (JPG/PNG/JPEG/PDF)
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 required">
            <legend class="col-form-label pt-0">Account Type</legend>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="acc_type" id="savings" value="Saving" required>
              <label class="form-check-label" for="savings">Savings</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="acc_type" id="current" value="Current" required>
              <label class="form-check-label" for="current">Current</label>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
          <label class="form-check-label" for="exampleCheck1">I have verified all information and documents of this
            customer.</label>
        </div>
        <button type="submit" class="btn btn-primary btn-cust"><i class="fas fa-user-plus"></i> Create Account </button>
      </form>
    </div>
    <!-- Add Customer End -->

    <!-- View Customer Start -->
    <div class="view-custdiv">
      <form method="POST" action="/view_profile" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="form-group col-md-10">
            <input type="text" name="acc_no" id="view_by_accno" class="form-control" placeholder="Enter Account Number"
              pattern="[0-9]*" required>
            <div class="invalid-feedback">Account Number must contain digits only</div>
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary text-nowrap"> Search <i class="fas fa-search"></i></button>
          </div>
          <%if(error[0] === 'view_error'){%>
        <div class="alert alert-danger <%=error[0]%>" role="alert">
          <%=error[1]%>
        </div>
        <%}%>
        </div>
      </form>
    </div>
    <!-- Update Customer Starts -->
    <div class="update-custdiv">
      <form method="POST" action="/update_customer" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="form-group col-md-10">
            <input type="text" name="acc_no" id="view_by_accno" class="form-control" placeholder="Enter Account Number" pattern="[0-9]*" required>
            <div class="invalid-feedback">Account Number must contain digits only</div>
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary text-nowrap"> Search <i class="fas fa-search"></i></button>
          </div>
          <%if(error[0] === 'update_error'){%>
        <div class="alert alert-danger <%=error[0]%>" role="alert">
          <%=error[1]%>
        </div>
        <%}%>
        </div>
      </form>
    </div>


    <%if(row !== undefined){%>

        <div class="update-cust">
          <h6 style="color: red;">*Double click on field to edit information.</h6>
          <form class="create-cust needs-validation" method="POST" action="/update_customer_details" novalidate>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Name</label>
                <input type="text" class="form-control" id="inputFirstName" name="name" value="<%=row.name%>"
                  pattern="[a-zA-Z\s]*" required readonly>
                <div class="invalid-feedback">Name must contain alphabets only</div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" name="address" required readonly
                value="<%=row.address%>">
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="city" required readonly
                  value="<%=row.city%>">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input class="form-control" type="text" name="state" id="state" required readonly
                  value="<%=row.state%>">
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip" name="zip" pattern="[0-9]{6}" required readonly
                  value="<%=row.zip%>">
                <div class="invalid-feedback">Zip must be number of length 6</div>

              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Contact No (Primary)</label>
                <input type="tel" class="form-control" id="primaryMob" name="pcon" pattern="[0-9]{10}" required readonly
                  value="<%=phone_no1%>">
                <div class="invalid-feedback">Contact no. must be number of length 10</div>
              </div>
              <div class="form-group col-md-6">
                <label>Contact No (Secondary)</label>
                <input type="tel" class="form-control" id="secondaryMob" name="scon" pattern="[0-9]{10}" readonly
                  value="<%=phone_no2%>">
                <div class="invalid-feedback">Contact no. must be number of length 10</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email Id</label>
              <input type="email" class="form-control" id="inputEmail" name="email" required readonly
                value="<%=row.email%>">
              <div class="invalid-feedback">Enter Valid Email ID</div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>DOB</label>
                <input type="date" class="form-control" id="DOB" name="dob" required readonly value="<%=row.dob%>">
              </div>
              <div class="form-group col-md-6" hidden>
                <input type="text" id="DOB" name="acc_no" required readonly value="<%=row.acc_no%>">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Aadhar Number</label>
                <input type="text" class="form-control" id="inputFirstName" name="aadhaar_no" required readonly
                  value="<%=row.aadhaar_no%>" pattern="[0-9]{16}">
                <div class="invalid-feedback">Aadhaar must contain numbers only (16 digits)</div>
              </div>
              <div class="form-group col-md-6">
                <label>Pan Number</label>
                <input type="text" class="form-control" id="inputLastName" name="pan" readonly value="<%=row.pan_no%>"
                  pattern="[0-9A-Z]{10}">
                <div class="invalid-feedback">Pan number must of length 10 and alphabets must be capital</div>
              </div>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck2" required>
              <label class="form-check-label" for="exampleCheck2">I have verified all information and documents of
                this
                customer.</label>
            </div>
            <button type="submit" class="btn btn-primary btn-cust"><i class="fas fa-edit"></i> Update Account
            </button>
          </form>

        </div>

        <%}%>
        <%if(error[0] === 'success_updated'){%>
        <div class="<%=error[0]%>" hidden></div>
        <%}%>
    <!-- Remove Customer Starts -->

    <div class="remove-custdiv">
      <form method="POST" action="/remove_customer" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="form-group col-md-10">
            <input type="text" name="acc_no" id="view_by_accno" class="form-control" placeholder="Enter Account Number" pattern="[0-9]*" required>
            <div class="invalid-feedback">Account Number must contain digits only</div>
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary text-nowrap"> Search <i class="fas fa-search"></i></button>
          </div>
            <%if(error[0] === 'remove_error'){%>
        <div class="alert alert-danger <%=error[0]%>" role="alert">
          <%=error[1]%>
        </div>
        <%}%>
        </div>
      </form>
    </div>
    <%if(rows !== undefined){%>
        <div class="remove-cust">
          <form class="create-cust" method="POST" action="/remove_customer_details">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Name</label>
                <input type="text" class="form-control" id="inputFirstName" name="name" value="<%=rows.name%>" required
                  readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" name="address" required readonly
                value="<%=rows.address%>">
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="city" required readonly
                  value="<%=rows.city%>">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input class="form-control" type="text" name="state" id="state" required readonly
                  value="<%=rows.state%>">
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip" name="zip" required readonly
                  value="<%=rows.zip%>">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Contact No (Primary)</label>
                <input type="tel" class="form-control" id="primaryMob" name="pcon" required readonly
                  value="<%=phone_no1%>">
              </div>
              <div class="form-group col-md-6">
                <label>Contact No (Secondary)</label>
                <input type="tel" class="form-control" id="secondaryMob" name="scon" readonly value="<%=phone_no2%>">
              </div>
            </div>
            <div class="form-group">
              <label>Email Id</label>
              <input type="email" class="form-control" id="inputEmail" name="email" required readonly
                value="<%=rows.email%>">
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>DOB</label>
                <input type="date" class="form-control" id="DOB" name="dob" required readonly value="<%=rows.dob%>">
              </div>
              <div class="form-group col-md-6" hidden>
                <input type="text" id="DOB" name="acc_no" required readonly value="<%=rows.acc_no%>">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Aadhar Number</label>
                <input type="text" class="form-control" id="inputFirstName" name="aadhaar_no" required readonly
                  value="<%=rows.aadhaar_no%>">
              </div>
              <div class="form-group col-md-6">
                <label>Pan Number</label>
                <input type="text" class="form-control" id="inputLastName" name="pan" readonly value="<%=rows.pan_no%>">
              </div>
            </div>


            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck3" required>
              <label class="form-check-label" for="exampleCheck3">I have received request from <%=rows.name%> to
                delete the
                account.</label>
            </div>
            <button type="button" class="btn btn-danger btn-cust" data-toggle="modal" data-target="#staticBackdrop"><i
                class="fas fa-trash"></i> Remove Account </button>
            <!-- MODAL -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Warning !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    This will delete all the information permanently and remaining balance should be handed-in to
                    <%=rows.name%>.
                    <br>
                    <strong>Balance: <%=rows.balance%></strong>
                    <br>
                    Are you sure you want to delete this account?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete Account</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <%}%>
        <%if(error[0] === 'success_removed'){%>
        <div class="<%=error[0]%>" hidden></div>
        <%}%>
  </div>


</div>



<script src="customer.js" charset="utf-8" type='text/javascript'></script>

<%- include("footer") -%>
