<%- include("header") -%>

<div class="row">
    <div class="col-md-3 profile-col1">
        <img src="data:image/png;base64,<%=photo%>">
        <p><strong> Employee Id :</strong> <%=row.emp_id%></p>
    </div>
    <div class="col-md-6">
        <div class="profile-heading">
            <h2>Employee Profile</h2>
        </div>
        <table class="emp_info">
            <tr class="profile-section">
                <td>
                    <h5>Name : </h5>
                </td>
                <td>
                    <h5 class="profile-text"><%=row.name%></h5>
                </td>
            </tr>
            <tr class="profile-section">
                <td>
                    <h5>Designation : </h5>
                </td>
                <td>
                    <h5 class="profile-text"><%=row.designation%></h5>
                </td>
            </tr>
            <tr class="profile-section">
                <td>
                    <h5>Address : </h5>
                </td>
                <td>
                    <h5 class="profile-text"><%=row.address%></h5>
                </td>
            </tr>
            <tr class="profile-section">
                <td>
                    <h5>Gender : </h5>
                </td>
                <td>
                    <h5 class="profile-text"><%=row.gender%></h5>
                </td>
            </tr>
            <tr class="profile-section">
                <td>
                    <h5>DOB : </h5>
                </td>
                <td>
                    <h5 class="profile-text"><%=row.dob%></h5>
                </td>
            </tr>
            <tr class="profile-section">
                <td>
                    <h5>Contact No (Primary) : </h5>
                </td>
                <td>
                    <h5 class="profile-text"><%=phone_no1%></h5>
                </td>
            </tr>
            <tr class="profile-section">
                <td>
                    <h5>Contact No (Secondary) : </h5>
                </td>
                <td>
                    <h5 class="profile-text"><%=phone_no2%></h5>
                </td>
            </tr>
            <tr class="profile-section">
                <td>
                    <h5>Email Id : </h5>
                </td>
                <td>
                    <h5 class="profile-text"><%=row.email%></h5>
                </td>
            </tr>
            <tr class="profile-section">
                <td>
                    <h5>Monthly Salary : </h5>
                </td>
                <td>
                    <h5 class="profile-text">₹ <%=row.salary%></h5>
                </td>
            </tr>
        </table>

    </div>
</div>

<%- include("footer") -%>