<%- include("header") -%>

<div class="row">
  <!-- Sidebar Starts -->
  <div class="col-2 sidebar trans_sidebar">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link sidebar-tile remove" id="remove" data-toggle="pill" href="#" role="tab"
        aria-controls="v-pills-settings" aria-selected="false">Withdraw</a>
      <a class="nav-link sidebar-tile add" id="add" data-toggle="pill" href="#" role="tab"
        aria-controls="v-pills-home" aria-selected="true">Deposit</a>
      <a class="nav-link sidebar-tile view" id="view" data-toggle="pill" href="#" role="tab"
        aria-controls="v-pills-profile" aria-selected="false">View</a>

    </div>
  </div>
  <!-- Sidebar Ends -->

  <!-- Create Customer Form Starts -->

  <div class="col-10 ">

    <!-- Add Customer Start -->
    <div class="remove-custdiv sanction">
      <h2 class="create-heading debit-heading">Withdraw</h2>
      <br>
      <form class="create-cust needs-validation" method="POST" action="/withdraw" novalidate>
        <%if(error[0] === 'success_withdraw'){%>
        <div class="<%=error[0]%>" hidden><%=error[1]%></div>
        <%}%>
        <div class="form-group debit_fields">
          <label for="inputAddress">Account No</label>
          <input type="text" class="form-control" id="acc_no" name="acc_no" pattern="[0-9]*" required>
          <div class="invalid-feedback">Account Number must contain digits only</div>
        </div>
        <div class="form-group debit_fields">
          <label for="inputAddress">Amount(₹)</label>
          <input type="text" class="form-control" id="amount" name="amount" pattern="[0-9]*" required>
          <div class="invalid-feedback">Amount must contain numbers only</div>
        </div>
        <%if(error[0] === 'withdraw_error'){%>
        <div class="alert alert-danger <%=error[0]%>" role="alert">
          <%=error[1]%>
        </div>
        <%}%>
        <button type="submit" class="btn btn-primary btn-cust debit-btn"><i class="fas fa-rupee-sign"></i> Withdraw  </button>
        
      </form>

    </div>

    <!-- Deposit -->
    <div class="add-custdiv deposit-div">
      <h2 class="create-heading debit-heading">Deposit</h2>
      <br>
      <form class="create-cust needs-validation" method="POST" action="/deposit" novalidate>
        <%if(error[0] === 'success_deposit'){%>
        <div class="<%=error[0]%>" hidden><%=error[1]%></div>
        <%}%>
        <div class="form-group debit_fields">
          <label for="inputAddress">Account No</label>
          <input type="text" class="form-control" id="acc_no" name="acc_no" pattern="[0-9]*" required>
          <div class="invalid-feedback">Account Number must contain digits only</div>
        </div>
        <div class="form-group debit_fields">
          <label for="inputAddress">Amount(₹)</label>
          <input type="text" class="form-control" id="amount" name="amount" pattern="[0-9]*" required>
          <div class="invalid-feedback">Amount must contain digits only</div>
        </div>
        <%if(error[0] === 'deposit_error'){%>
        <div class="alert alert-danger <%=error[0]%>" role="alert">
          <%=error[1]%>
        </div>
        <%}%>
        <button type="submit" class="btn btn-primary btn-cust debit-btn"> Deposit <i class="fas fa-donate"></i> </button>
      </form>
    </div>
    <!-- Add Customer End -->

    <!-- View Customer Start -->
    <div class="view-custdiv view_trans" id="view-data">
      
      <form method="POST" action="/particular_trans" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="form-group col-md-10">

            <input type="text" name="trans_no" id="view_by_trans_no" class="form-control"
              placeholder="Enter Transaction Number" pattern="[0-9]*" required>
              <div class="invalid-feedback">Transaction Number must contain digits only</div>

          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary text-nowrap"> Search <i class="fas fa-search"></i></button>
          </div>

        </div>
      </form>
      <h5 class="or">OR</h5>
      <form action="/all_trans" method="POST">
        <div class="form-row">
          <div class="form-group col-md-5">
            <button type="submit" class="btn btn-primary form-control view_all_trans_btn"> View All Transactions <i
                class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <%if(error[0] === 'view_error'){%>
        <div class="alert alert-danger <%=error[0]%>" role="alert">
          <%=error[1]%>
        </div>
        <%}%>

    </div>
    <%if(class_name !== undefined || rows !== undefined){ %>
        <div class="<%=class_name%> table_trans">
          <table class="table table-bordered table-striped" id="trans_table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Transaction No</th>
                <th scope="col">Account No</th>
                <th scope="col">Transaction Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Time Stamp</th>
                <th scope="col">Counter No</th>
              </tr>
            </thead>
            <tbody>
              <%for(var i=0;i < length ; i++){%>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=rows[i].trans_no%></td>
                <td><%=rows[i].acc_no%></td>
                <td><%=rows[i].trans_type%></td>
                <td><%=rows[i].amount%></td>
                <td><%=rows[i].time_stamp%></td>
                <td><%=rows[i].counter_no%></td>
              </tr>
              <%}%>
        </tbody>
        
      </table>
  
    </div>
    <%}%>
        </div>

        <!-- View Customer End -->
    </div>


    <!-- Create Customer Form Ends -->

    <script src="transaction.js" charset="utf-8" type='text/javascript'></script>

    <%- include("footer") -%>